DATABASE_URL="postgresql://postgres:postgres@localhost:5432/xphotos?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/xphotos?schema=public"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=xphotos

AUTH_SECRET=asdfghgfd
AUTH_TRUST_HOST=true


# Node environment
NODE_ENV=production